<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.curriculum.mapper.OrdersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.curriculum.model.po.Orders">
        <id column="id" property="id" />
        <result column="total_price" property="totalPrice" />
        <result column="create_date" property="createDate" />
        <result column="status" property="status" />
        <result column="user_id" property="userId" />
        <result column="order_type" property="orderType" />
        <result column="out_business_id" property="outBusinessId" />
        <result column="order_name" property="orderName" />
        <result column="order_descrip" property="orderDescrip" />
        <result column="unit_price" property="unitPrice" />
        <result column="order_number" property="orderNumber" />
        <result column="pay_time" property="payTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, total_price, create_date, status, user_id, order_type, out_business_id, order_name, order_descrip, unit_price, order_number, pay_time
    </sql>

</mapper>
